<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">

  <div *ngFor="let db of users" class="ion-padding my-card">
    <ion-item class="ion-no-padding" lines="none" (click)="detail(db)" >
      <ion-avatar slot="start">
        <img [src]="db.avatar">
      </ion-avatar>
      <ion-label>{{db.first_name}} {{db.last_name}}</ion-label>
    </ion-item>
  </div>

  <ion-infinite-scroll (ionInfinite)="load_data($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>